@font-face{font-family:'Fredoka';font-weight:400;src:url(fonts/fredoka-latin-400-normal.woff2) format('woff2')}
@font-face{font-family:'Fredoka';font-weight:500;src:url(fonts/fredoka-latin-500-normal.woff2) format('woff2')}
@font-face{font-family:'Fredoka';font-weight:600;src:url(fonts/fredoka-latin-600-normal.woff2) format('woff2')}
@font-face{font-family:'Fredoka';font-weight:700;src:url(fonts/fredoka-latin-700-normal.woff2) format('woff2')}
@font-face{font-family:'Lilita One';font-weight:400;src:url(fonts/lilita-one-latin-400-normal.woff2) format('woff2')}
@font-face{font-family:'Bungee';font-weight:400;src:url(fonts/bungee-latin-400-normal.woff2) format('woff2')}
